# Don't use quotes( " and ' )

API_ID=25591955
API_HASH=190867151075b43a1d0ffb1213b16c7d
SESSION=1BVtsOLEBuwmjR_-FuocFL3m-ifx02TWvdIJGbLr4lQo0LpLRHCdqj34NXrdfFi3WXjThZcEh3AJP-KpvDHwdksJ8aKgNqGtaUquEhyLUA6MXVSsu21frnkNV3StN8oyIsCrt7kBOp7ySzH_c8bTARGP0E1Ff8my3lgZpJO_scWv0N-mypV6ZdUKjQpXxx5NbAr3HaMiCeTjd0ScG1a4FdK5c1fZ8A6V3cREWrdq2zU8SiFs7lAQbpErACLk9MHy26xR-_sKoYXBhrSLOYKNEtD0SupjaIfTOIx-FLJuQ1bNeZb6_WS2J0Qxt0Ui5S0ApAqMNUIrpYm5ykICtTQXP34xnuFmpIOM=
REDIS_URI=redis-16625.c84.us-east-1-2.ec2.cloud.redislabs.com:16625
REDIS_PASSWORD=KfnKxK2n1jkKjJ085aumKwy0aLXbf31I

# [OPTIONAL]

LOG_CHANNEL=-1001823121805
BOT_TOKEN=5999986588:AAGrK6Yhzm8Xb2MrJCrHtGwzv3C0Kw-I0_Y
